@import "./theme.css";
@import "cropperjs/dist/cropper.css";

:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

* {
    list-style: none;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(125, 145, 128, 0.55) transparent;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: rgba(125, 145, 128, 0.45);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(125, 145, 128, 0.7);
}

button {
    cursor: pointer;
}

/* 解决edge浏览器密码输入框显示眼睛按钮 */
input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/** 单行文本加省略号  **/
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
