@import "./theme.css";

:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

* {
    list-style: none;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
}

button {
    cursor: pointer;
}

/* 解决edge浏览器密码输入框显示眼睛按钮 */
input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/** 单行文本加省略号  **/
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
